name: Update README with Recent Activity

on:
  schedule:
    - cron: '0 */6 * * *'  # Runs every 6 hours
  workflow_dispatch:  # Allows manual trigger

permissions:
  contents: write

jobs:
  update-readme:
    runs-on: ubuntu-latest
    name: Update README with Recent Activity
    steps:
      - uses: actions/checkout@v4
      
      - uses: jamesgeorge007/github-activity-readme@v1.4.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          COMMIT_MSG: 'chore: Update README with recent activity'
          MAX_LINES: 5
